#footer {
  background-color: rgb(34, 33, 33);
  color: white;
  padding: 3vmax 5vmax;
  font-family: "Roboto", sans-serif;
  margin-top: 10vmax;
}

.topFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  margin: 1vmax;
}

.leftFooter {
  display: flex;
  gap: 5vmax;
}

.footer-column h4 {
  font-size: 1.3vmax;
  margin-bottom: 1vmax;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.8vmax;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 1vmax;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #eb4034;
}

.midFooter {
  text-align: center;
}

.midFooter > p {
  margin: 0.5vmax 0;
  color: white;
  font-size: 1vmax;
}

.rightFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightFooter > h4 {
  font-size: 1.5vmax;
  margin-bottom: 1vmax;
  text-decoration: none;
}

.rightFooter > a {
  display: block;
  color: white;
  font-size: 1.2vmax;
  margin: 0.5vmax 0;
  text-decoration: none;
  transition: all 0.3s;
}

.rightFooter > a:hover {
  color: #eb4034;
}
.quickLinks {
  width: 100%;
  margin-top: 3vmax;
  text-align: center;
}

.quickLinks > h4 {
  font-size: 1.5vmax;
  margin-bottom: 1.5vmax;
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5vmax;  
  margin-top: 1vmax;
}

.linksContainer a {
  color: white;
  text-decoration: none;
  font-size: 1.1vmax;
  padding: 0.5vmax 1vmax; 
  transition: color 0.3s;
}

.linksContainer a:hover {
  color: #eb4034;
  text-decoration: underline;
}

.countryDisplay {
  background-color: rgb(20, 20, 20); 
  color: rgb(246, 246, 246);  
  padding: 0.8vmax 5vmax;
  font-size: 1.1vmax;
  text-align: center;
  font-weight: 500; 
}


@media screen and (max-width: 768px) {
  .topFooter {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .leftFooter,
  .midFooter,
  .rightFooter {
    width: 100%;
    align-items: center;
    margin: 1vmax 0;
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 2vmax;
  }
}
