.orderSuccessPage {
  text-align: center;
  margin-top: 80px;
  font-family: 'Arial', sans-serif;
}

.successIcon {
  font-size: 70px;
  color: #28a745; 
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.successActions {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.actionButton {
  padding: 12px 25px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #333;
}
