.banner-slide img,
.banner-video {
  width: 100%;
  height: 900px;
  object-fit: cover;
}
.video-container {
    position: relative; 
}
.carousel .slide .custom-bottom-left-controls,
.carousel .slide .custom-bottom-right-controls {
    position: absolute;
    z-index: 10;
    bottom: 20px; 
    gap: 10px;
}
.carousel .slide .custom-bottom-left-controls {
    left: 20px; 
}

.carousel .slide .custom-bottom-right-controls {
    right: 20px; 
    display: flex;
}

.custom-control-button {
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.custom-control-button:hover {
  background: rgba(0, 0, 0, 0.7);
}