.shop-by-sport {
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.section-title {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.sports-carousel {
  display: flex;
  gap: 1rem; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
}

.sports-carousel::-webkit-scrollbar {
  display: none;
}
.sports-carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sport-card {
  min-width: 320px;              
  flex: 0 0 auto;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  scroll-snap-align: start;
  border-radius: 15px;
  background: #fff;
  padding-bottom: 1rem;
}

.sport-card:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.sport-image {
  width: 100%;
  height: 450px;            
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s;
}

.sport-card:hover .sport-image {
  transform: scale(1.05);
}

.sport-card h3 {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.sport-card p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.3rem;
  color: #333;
}
